*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-arrow{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-color: white;
    color: black;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 999;
    transition: all 0.3s ease;
    cursor: pointer;
}

#top-arrow a{
    text-decoration: none;
    color: black;
}

#top-arrow a:hover{
    padding: 5px 15px;
    border-radius: 50%;
    background-color: #3a1916;
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px orangered;
    transition: 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.navi {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}


.navbar{
    min-height: 70px;
    width: 100%;
    background-color: #3a1916;
}

.navbar .logo{
    height: 50px;
    width: 250px;
}

.nav-item{
    font-weight: 500;
}

.navbar-nav .nav-link {
    color: #ffb300;
    position: relative;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 0;
    height: 2px;
    background-color: #ffb300;
    transition: width 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.about-hero .about-hero-img{
    min-height:400px;
    width: 100%;
    background-image:linear-gradient(to bottom right, rgba(255, 204, 0, 0.392),rgba(255, 204, 0, 0.392)), url(../assets/About/hero3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:brightness(70%);
    padding: 40px;
    padding-left: 30%;
    background-attachment: fixed;
}

.about-hero-img p{
    margin-left: 20px;
}

.about .row{
    padding: 0;
    /* margin-top: 0px; */
    background-image: linear-gradient(to right, rgba(232, 96, 55, 0.856), rgba(248, 248, 248, 0.4), rgba(248, 248, 248, 0.4)), url(../assets/Home/back-img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}

.about .about-btn{
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    /* margin-left: 20px; */
}

.about-btn a{
    padding: 7px 10px;
    text-decoration: none;
    color: black;
}

.about-btn i{
    margin-top: 12px; 
    /* margin-left: 5px; */
}

.about-btn:hover{
    background-color: #ffb300;
    transition: background-color 0.5s ease-in-out;
}
.about-btn:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
}

.about h1, h4, p{
    text-align: justify;
}

.p-img img{
    width: 30px;
    height: 30px;
}

.approach{
    min-height: 50vh;
    width: 100%;
    margin: auto;
}

.approach .approach-img{
    height: 90vh;
    width: 95%;
    position: relative;
    margin: auto;
}

.approach .approach-img img{
    width: 100%;
    height: 90vh;
    border-radius: 20px;
}

.approach-info{
    width: 80%;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left:10%;
    padding: 10px 10px;
    /* opacity: 0.5; */
}

.approach .approach-info img{
    width: 15%;
    height: 30px;
    border-radius: none;
}

.team .card-1{
    background-color: #ffbeb8e0;
    border-radius: 20px;
}
.team-members img{
    width: 100%;
    height: 50vh;
}


.contact .row{
        padding: 0;
    /* margin-top: 100px; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.537), rgba(0, 0, 0, 0.55)), url(../assets/Home/contact-bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
}

.contact p{
    color: #ffb300
}
.contact h1{
    color: #ffb300
}
.contact .ctn-top{
    margin-top: 50px;
}

.contact .contact-btn{
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    /* margin-left: 20px; */
    transition: background-color 0.5s ease;
}

.contact-btn a{
    /* padding: 10px; */
    text-decoration: none;
    color: black;
}

.contact-btn:hover{
    background-color: #ffb300;
    transition: background-color 0.5s ease-in-out;
}

.contact-btn:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
}


.what-we-do{
    min-height: 100vh;
    width: 100%;
    margin: auto;
}

.what-we-do .card-body img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.what-we-do .card{
    border-radius: 50px 50px 150px 150px;
    overflow: hidden;
}
.what-we-do .card-img-top{
    height: 180px;
    width: 100%;
    /* border-bottom: 2px solid #3a1916; */
    border-radius: 0px 0px 50px 50px;
}
.what-we-do .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 20px #3a1916b2;
    transition: transform 0.8s ease, box-shadow 0.6s ease;
}

.what-we-do .card-img-top:hover {
    height: 250px;
    object-fit: cover;
    transform: scale(1.1);
}
.what-we-do .card-img-top {
    height: 250px;
    object-fit:cover;
    transition: transform 0.5s ease-in-out;
    
}

.card-img-top img{
    width: 100%;
    height: 100px;
    border-radius: none;
}

.what-btn{
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 20px;
    transition: background-color 0.5s ease;
}

.what-btn:hover{
    background-color: #ffb300;
    transition: background-color 0.5s ease-in-out;
}

.custom-footer
{
    background-color: #3a1916;   
}
.logo
{
    width: 250px;
    height: 250px;
}
.menulist
{

}
.menulist li
{
    list-style-type: none;
}
.menulist li a
{
    text-decoration: none;
    color: #ffb300;
    position: relative;
}
.menulist li a::after
{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: width 0.5s ease;
    background-color: white;
}
.menulist li a:hover::after
{
    width: 100%;
}
.menulist li a:hover
{
    color: white;
}
.icons-container 
{
    height: 35px;
    width: 35px;
    background-color: #ffb300;
    border: 1px solid #000;
}
.icons i
{
    color: #3a1916;
}
.icons-container:hover
{
    background-color: #ffd572;
}
.icons i:hover{
    color: black;
}