*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.carousel-item img{
    /* height: 550px; */
    background-color: #ffd572;
    filter: brightness(50%);
    border-radius: 50%;
    border: 2px solid black;
    height: 80vh;
    object-fit: cover;  
}

.carousel-item .slider-img{
    /* height: 550px; */
    background-color: #ffd572;
    filter: brightness(150%);
    border-radius: 50%;
    border: 2px dotted black;
}

.carousel-caption{
    top: 12%;
    width: 50%;
    /* margin: auto; */
}



.carousel-caption h1{
    font-size: 70px;
    font-weight: 600;
    /* color: white; */
}

.carousel-caption p{
    color:#ffb300;
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
}

.carousel-caption a{
    font-size: 20px;
    font-weight: 600;
}

.carousel-item .slider-btn{
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    margin-left: 20px;
}

.slider-btn a{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.slider-btn i{
    margin-top: 12px; 
    /* margin-left: 5px; */
}

.slider-btn:hover{
    background-color: #ffb300;
    transition: background-color 0.5s ease-in-out;
}
.slider-btn:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
}

.about{
    margin-top: 100px;
}

.about .about-btn{
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    /* margin-left: 20px; */
}

.about-btn a{
    padding: 7px 10px;
    text-decoration: none;
    color: black;
}

.about-btn i{
    margin-top: 12px; 
    /* margin-left: 5px; */
}

.about-btn:hover{
    background-color: #ffb300;
    transition: background-color 0.5s ease-in-out;
}
.about-btn:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
}

.about h1, h4, p{
    text-align: justify;
}