/* code for navbar starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b7822d;
}

#top-arrow{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-color: white;
    color: black;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 999;
    transition: all 0.3s ease;
    cursor: pointer;
}

#top-arrow a{
    text-decoration: none;
    color: black;
}

#top-arrow a:hover{
    padding: 5px 15px;
    border-radius: 50%;
    background-color: #3a1916;
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px orangered;
    transition: 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.navi {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.navbar {
  min-height: 70px;
  width: 100%;
  background-color: #3a1916;
}
.navbar .logo {
  height: 50px;
  width: 250px;
}
.nav-item {
  font-weight: 500;
}
.navbar-nav .nav-link {
  color: #ffb300;
  position: relative;
  text-decoration: none;
}
.navbar-nav .nav-link:hover {
  color: white;
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: #ffb300;
  transition: width 0.4s ease-in-out;
}
.navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* .navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    color: white;
} */
/* code for navbar ends here */

/* hero section */
.about-hero .about-hero-img {
  min-height: 400px;
  width: 100%;
  background-image:
    linear-gradient(
      to bottom right,
      rgba(255, 204, 0, 0.392),
      rgba(255, 204, 0, 0.392)
    ),
    url(../assets/About/hero3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
  padding: 40px;
  padding-left: 30%;
  background-attachment: fixed;
}

.about-hero-img p {
  margin-left: 20px;
}

.custom-footer
{
  background-color: #3A1916;
}

.footer-nav-list li {
  list-style-type: none;
}
.footer-nav-list li a {
  text-decoration: none;
  color: #ffb300;
  position: relative;
  padding-bottom: 4px;
}
.footer-nav-list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s;
  background-color: white;
}
.footer-nav-list li a:hover {
  color: white;
}
.footer-nav-list li a:hover::after {
  width: 100%;
}

.social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffb300;
  color: #b14b41;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #f4a261;
  color: #000;
}

.testimonial .card{
  border-radius: 0 50px 0 50px;
}

.doctor-image {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.share-btn .exp-button {
    background-color: #E25E52;
    border: none;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.share-btn .exp-button:hover {
    background-color: #ffb300;
}
/* .exp-button:hover i{
    transition:  0.5s ease-in-out;
    transform: translateX(10px);
} */

.custom-footer
{
    background-color: #3a1916;   
}
.logo
{
    width: 250px;
    height: 250px;
}
.menulist
{

}
.menulist li
{
    list-style-type: none;
}
.menulist li a
{
    text-decoration: none;
    color: #ffb300;
    position: relative;
}
.menulist li a::after
{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: width 0.5s ease;
    background-color: white;
}
.menulist li a:hover::after
{
    width: 100%;
}
.menulist li a:hover
{
    color: white;
}
.icons-container 
{
    height: 35px;
    width: 35px;
    background-color: #ffb300;
    border: 1px solid #000;
}
.icons i
{
    color: #3a1916;
}
.icons-container:hover
{
    background-color: #ffd572;
}
.icons i:hover{
    color: black;
}